.navBarContainer {
    width: 100px;
    height: 768px;
    background-color: #F5F9FE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBarInner{
    width: 70px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.topMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bell {
    display: block;
    width: 12px;
    height: 14.4px;
}
.JS {
    width: 34px;
    height: 34px;
    margin: 24px 0 0 0;
}
.imagesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}